.name
{
    font-family: Monospace;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    text-align: left;
    color: #000;
    background-color: #fff;
}


.button3
{
    background-color:#fff;
    border: none;
    margin-left: -2vw;
    float: right;
}

body
{
    background-color: #F5F5DC;
}

#video
{
    positon:relative;
    left:6rem;
    width:38.4rem;
    border-radius:3rem;
    border-top:70rem;
    z-index:-1;
}

.aston
{
    left: 6.3rem;
    top: 16.3rem;
    position:fixed;
    z-index:1;
}

.aston:hover
{
    opacity:0;
}



.bentley
{
    left: 85rem;
    top: 16.3rem;
    position:fixed;
    z-index:1;
}
.bentley:hover
{
    opacity:0;
}





#qna:hover
{
    opacity: 0.6;
}


#qna
{
    background-color: #fff;
    border: none;
    float: right;
    position:relative;
    left:10px;
    top:1rem;
}


#brand
{
    border:none;
    background-color:#fff;
    margin-left: 46.5rem;

}

#brand:hover
{
    opacity:0.6;
}
#aca
{
    background-color: #fff;
    border: none;

}

#ikea
{
    border: none;
}

#am
{
    border: none;
    background-color:#fff;
    margin-left:1rem;
}



#audi
{
    border:none;
    background-color:#fff;
    opacity:0.3;
    position:relative;
    right:0.5rem;
}

#bentley
{
    border:none;
    background-color:#fff;
    opacity:0.5;
    position:relative;
    right:1.4rem;
}

